# Compiler files
cache/
out/

# Broadcast logs
broadcast/

# Docs
docs/

# Dotenv files other than .env.example
.env*
!.env.example

# JetBrains IDEs
.idea/

# Dependencies
lib/

# Coverage reports
lcov.info
